/* Universal Css Start Here */
body {
	background-color: var(--body-color);
	font-family: var(--font-default);
	color: var(--text-color);
  }
  body::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
	background: #07B0AA;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: white;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px solid #07B0AA;  /* creates padding around scroll thumb */
  }
  .over-hidden {
	overflow: hidden;
  }
  
  a {
	text-decoration: none;
	color: var(--extra-color-3);
	outline: none;
  }
  
  a:hover {
	color: var(--extra-color-3);
  }
  
  button {
	font-family: var(--font-btn);
  }
  
  figure {
	margin-bottom: 0;
  }
  .hide{
	opacity: 0;
  }
  .primary-btn {
    font-size: 16px;
    padding: 1rem 2rem ;
    border: 1px solid var(--bg-primary);
    border-radius: 15px;
	color: var(--light-text-color);
    border: 2px solid #07B0AA;
    background-image: -webkit-linear-gradient(
	  30deg,
	  #07B0AA 50%,
	  transparent 50%
	);
    background-image: linear-gradient(30deg, #07B0AA 50%, transparent 50%);
    background-size: 2500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
	white-space: nowrap;
}
  .primary-btn:hover {
	background-position: 100%;
	color: #07B0AA;
  }
  .secondary-btn {
	background: var(--light-text-color);
	color: var(--bg-primary);
	font-size: 16px;
	padding: 1rem 1.5rem;
	transition: all 0.8s ease-out;
	border: 1px solid var(--bg-primary);
	white-space: nowrap;
	border-radius: 15px;
  }

  .extra-padd {
	padding: 15px 60px !important;
  }
  
  .colored-txt {
	color: var(--extra-color-1);
  }
  
  button {
	border: 0;
  }
  
  /* Typography Start Here */
  h1 {
	font-family: var(--font-heading);
	font-size: 60px;
  }
  
  h2 {
	font-family: var(--font-heading);
	font-size: 36px;
  }
  
  h3 {
	font-family: var(--font-heading);
	font-size: 20px;
  }
  
  h4 {
	font-family: var(--font-heading);
	font-size: 20px;
  }
  
  h5 {
	font-family: var(--font-default);
	font-size: 16px;
  }
  
  h6 {
	font-family: var(--font-default);
	font-size: 14px;
  }
  
  p {
	font-family: var(--font-default);
	font-size: 16px;
  }
  .rounded {
	border-radius: 1rem !important;
  }
  
  @media (max-width: 1368px) {
  }
  
  @media (max-width: 1280px) {
  }
  @media (max-width: 1024px) {
	h2 {
	  font-size: 26px;
	}
  }
  
  @media (max-width: 991px) {
  }
  
  @media (max-width: 768px) {
	h1 {
	  font-size: 28px;
	}
	h2 {
	  font-size: 22px;
	}
	h3 {
	  font-size: 16px;
	}
	h4 {
	  font-size: 15px;
	}
	h6 {
	  font-size: 14px;
	}
  
	p {
	  font-size: 13px;
	}
  }
  
  @media (max-width: 480px) {
	h3 {
	  font-size: 14px;
	}
  
	h2 {
	  font-size: 19px;
	}
  
	h4 {
	  font-size: 15px;
	}
  
	p {
	  font-size: 12px;
	}
  }
  
  /* Typography End Here */
  
  /* Header With out Login Css Start Here */
  
  .navbar-collapse .primary-btn {
    font-size: 16px;
    padding: 1rem;
    margin-left: 20px;
    border: 1px solid var(--bg-primary);
    border-radius: 15px;
	text-transform: uppercase;
}
  .navbar-nav {
    align-items: center;
}
  .sec-header .secondary-btn {
	background: transparent;
	color: var(--bg-primary);
	font-size: 14px;
	padding: 0.375rem 1.5rem;
	font-family: var(--font-calibri-bold);
	transition: all 0.8s ease-out;
	border: 1px solid var(--bg-primary);
  }
 
  .sec-header {
	width: 100%;
	margin: 15px 0px;
	background-color: #fff;
  }
  
  .sec-header-content {
	display: flex;
	justify-content: end;
	padding-top: 10px;
  }
  
  .sec-header-content a {
	color: var(--light-text-color);
	font-size: 14px;
	padding-left: 10px;
	z-index: 999;
	font-family: var(--font-AGaramondPro-regular);
  }
  .sec-header-content a:last-child {
	border-left: 1px solid #fff;
	margin-left: 10px;
	font-family: var(--font-AGaramondPro-bold);
	text-decoration: underline;
  }
  .sec-header-content span {
	color: var(--light-text-color);
	font-size: 14px;
	font-family: var(--font-AGaramondPro-regular);
  }
  
  .navbar {
	width: 100%;
	padding-top: 0px;
  }

  .navbar-light .navbar-nav .nav-link {
	color: #707070;
	font-size: 16px;
	padding: 6px 15px;
	font-family: var(--font-light);
	text-transform: uppercase;
  }
  
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:active {
	color: var(--bg-primary);
	transition: 1s;
  }
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .show > .nav-link {
	color: var(--bg-primary);
	transition: 1s;
  }
  .dropdown-item {
    display: block;
    width: 100%;
    padding: .75rem 1rem;
    clear: both;
    color: #898989;
    font-family: var(--font-light);
    font-size: 15px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
	gap: 20px;
	border-bottom: 1px solid rgba(0,0,0,.15);
}
.dropdown-item i.fas.fa-chevron-right {
    font-size: 12px;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #07B0AA;
}
  .btn-flex {
	display: flex;
  }
  
  /* Header With out Login Css End Here */
  
  /* Mobile Header Css Start Here */
  
  @media (max-width: 1368px) {
	.navbar-brand img {
	  width: 120px;
	}
  
	.navbar-brand {
	  padding-top: 0px;
	}
	
  }
  
  @media (max-width: 1024px) {
	.navbar-light .navbar-nav .nav-link {
	  font-size: 13px;
	  padding: 5px;
	}
	.navbar-collapse .secondary-btn {
	  margin-left: 5px;
	  padding: 0.375rem 0.75rem;
	  font-size: 13px;
	}
	.navbar-collapse .primary-btn {
	  margin-left: 0px;
	  padding: 0.375rem 0.75rem;
	  font-size: 13px;
	}
  }
 
  @media (max-width: 992px) {
	.navbar-nav li {
	  border-left: none;
	}
	.navbar-collapse {
	  background: #fff;
	  padding: 20px;
	}
	
  }
  @media (max-width: 768px) {
	.navbar-nav li {
	  border-left: none;
	}
	.navbar-collapse {
	  background: #fff;
	  padding: 20px;
	}
	.with-login .dropdown,
	.dropend,
	.dropstart,
	.dropup {
	  position: absolute;
	  right: 40px;
	  top: 0;
	  margin-top: 10px;
	}
	.with-login .navbar-light .navbar-toggler {
	  margin-right: 60px;
	}
	.with-login .dropdown-menu {
	  min-width: auto;
	  left: -50px;
	}
	.mainbannerbg .banner {
	  display: none !important;
	}
	.mainslider .slick-dots {
	  display: none !important;
	}
  }
  
  @media (max-width: 576px) {
	.sec-header-content {
	  display: flex;
	  justify-content: center;
	  text-align: center;
	  margin-bottom: 20px;
	}
	.navbar {
	  position: unset;
	  width: 100%;
	}
	.navbar-nav li {
	  border-left: none;
	}
	a.navbar-brand img {
	  width: 120px;
	}
	.btn-flex {
	  display: block;
	}
	.btn-flex .primary-btn {
	  width: 100%;
	}
	.start {
	  margin-right: 0px;
	}
	.navbar .btn {
	  padding: 0.375rem 0.2rem;
	  width: 100%;
	  margin: 10px 0px;
	  background-size: 1000px;
	}
	.with-login .dropdown,
	.dropend,
	.dropstart,
	.dropup {
	  position: absolute;
	  right: 20px;
	  top: 67px;
	}
	.with-login .primary-btn {
	  font-size: 12px;
	  padding: 0.375rem 0.5rem;
	  font-family: var(--font-heading);
	  margin-right: 0px;
	}
	.with-login .sec-header-content {
	  display: flex;
	  justify-content: space-between;
	  text-align: center;
	  margin-bottom: 20px;
	}
	.with-login .dropdown,
	.dropend,
	.dropstart,
	.dropup {
	  margin-top: 0px;
	}
  }
  /* Mobile Header Css End Here */

.mainbannerbg {
    padding: 30px 0 50px 0;
}

h1.banner__heading {
    color: #2A2B2A;
    letter-spacing: -2px;
}
h1.banner__heading span{
	color: #07B0AA;
}
p.banner__para {
    font-size: 16px;
    width: 82%;
    margin: 25px 0;
}
.find h4 {
    color: #07B0AA;
    margin: 20px 0;
}
.find .input-group {
    width: 82%;
}
.form-control {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #757575;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px;
    box-shadow: 0px 2px 30px 2px #07b0aa4a;
}



@media (max-width: 1368px) {
	h1.banner__heading {
		color: #2A2B2A;
		letter-spacing: -2px;
		font-size: 56px;
		line-height: 56px;
	}
}
.top-div {
    background: #EBFAFA;
    padding: 25px;
}
.slide-show img{
	width: 225px;
}

.about-sce {
    overflow: hidden;
    padding: 100px 0px;
}
.about-sce h6 {
    font-size: 22px;
    text-transform: uppercase;
    color: var(--bg-primary);
	font-family: var(--font-heading);
}
.about-sce h2{
	font-size: 56px;
	letter-spacing: -2px;
	color:#2A2B2A;
}
.about-sce h2 span{
	color: var(--bg-primary);
}
.about-sce p{
	margin: 30px 0;
}

.services-sec {
    background-color: #DEFAF9;
    padding: 50px 0;
}
.services-sec h6 {
    font-size: 22px;
    text-transform: uppercase;
    color: var(--bg-primary);
	font-family: var(--font-heading);
}
.services-sec h2{
	font-size: 40px;
	letter-spacing: -2px;
	color:#2A2B2A;
}
.services-sec h2 span{
	color: var(--bg-primary);
	display: block;
}
.services-sec .card {
    padding: 50px;
    border-radius: 10px;
    margin: 0 10px;
}
.services-sec .card img{
	width: 70px;
	height: 70px;
}
.services-sec .card h3 {
    font-size: 30px;
    color: #2A2B2A;
    margin: 30px 0 50px;
}
.services-sec .card a{
	color: var(--bg-primary);
	font-size: 20px;
	font-family: var(--font-heading);
}
@media (max-width: 1368px) {
	.services-sec .card {
		padding: 40px 35px;
	}
}
.packages-sec{
	padding: 100px 0;
	position: relative;
}
.packages-sec h6 {
    font-size: 22px;
    text-transform: uppercase;
    color: var(--bg-primary);
	font-family: var(--font-heading);
}
.packages-sec h2{
	font-size: 48px;
	letter-spacing: -2px;
	color:#2A2B2A;
}
.packages-sec h2 span{
	color: var(--bg-primary);
	display: block;
}
.customized-quote-div h4{
	color: var(--bg-primary);
    margin: 50px 0 20px 0;
}
label{
	font-family: var(--font-light);
}
.small-business-div {
    background: #DEFAF9;
    padding: 40px;
    border-radius: 10px;
    height: 100%;
    position: relative;
    z-index: 2;
}
.small-business-div h3{
	font-size: 30px;
	color: #2A2B2A;
}
.small-business-div h3 span{
	color: #07B0AA;
	font-family: var(--font-heading);
}
.small-business-div-text {
    margin: 30px 0 50px 0;
    height: 200px;
    overflow: auto;
}
.small-business-div-text::-webkit-scrollbar {
	width: 10px;           
  }
  
.small-business-div-text::-webkit-scrollbar-track {
	background: #07B0AA;
  }
  .packages-text {
    position: absolute;
    right: 0;
    font-size: 150px;
    top: -20px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #07B0AA;
    opacity: 30%;
    z-index: 1;
    font-family: var(--font-heading);
    letter-spacing: 20px;
}
@media (max-width: 1368px) {
	.packages-text {
		font-size: 130px;
		top: -12px;
	}
}
.testimonials-sec {
    background-color: #DEFAF9;
    padding: 50px 0;
}

.testimonials-sec h6 {
    font-size: 22px;
    text-transform: uppercase;
    color: var(--bg-primary);
	font-family: var(--font-heading);
}
.testimonials-sec h2{
	font-size: 40px;
	letter-spacing: -2px;
	color:#2A2B2A;
}
.testimonials-sec h2 span{
	color: var(--bg-primary);
	display: block;
}
.testimonial-slider-wrapp {
    background: #fff;
    padding: 30px;
    color: #2A2B2A;
	margin: 0 20px;
	height: 300px;
}
.testimonial-slider-wrapp h4 {
    color: var(--bg-primary);
    font-family: var(--font-heading);
    font-size: 26px;
    margin-bottom: 20px;
}
.testimonial-slider-wrapp h5{
	color: var(--bg-primary);
	font-family: var(--font-heading);
	font-size: 18px;
	text-align: right;
}
.testimonial-slider .slick-list {
    padding: 0 18% 0 0 !important;
}

@media (max-width: 1368px) {
	.testimonial-slider-wrapp {
		padding: 20px;
		height: auto;
	}
	.testimonial-slider-wrapp h4 {
		font-size: 22px;
	}
}


footer {
    background: #2A2B2A;
    padding: 50px 0 10px 0;
    color: #fff;
}
footer .logo-box {
    margin-bottom: 30px;
}
.footer-content.logo-content {
    padding-right: 40px;
}
footer p{
	font-family: var(--font-light);
}
.copyright {
    margin-top: 30px;
}
footer ul.menu-links.menus.quick-links {
    column-count: 2;
    padding: 0;
    margin: 0;
}
footer ul.menu-links.menus.quick-links li {
    list-style: none;
    font-family: var(--font-light);
    padding-bottom: 20px;
}
.newsletter-footer {
    display: flex;
    gap: 10px;
}
footer ul.contact-info {
    padding: 0;
    column-count: 2;
    margin: 20px 0 0;
}
footer ul.contact-info li{
	list-style: none;
	font-family: var(--font-light);
}